<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
    

    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <header id="header" class="transparent-nav ">
        <div class="container">

            <div class="navbar-header ">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a class="logo" href="index.html">
                        <span class="s1">S</span> <span class="s2">ch</span> <span class="s3">ooly</span>
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Mobile toggle -->
                <button class="navbar-toggle">
                    <span></span>
                </button>
                <!-- /Mobile toggle -->
            </div>

            <!-- Navigation -->
            <nav id="nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#"> Login</a></li>
                </ul>

                <ul class="main-menu nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>

                    <li><a href="Courses.html">Courses</a></li>

                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- /Navigation -->

        </div>
    </header>
    <!-- /Header -->

    <div>
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer id="footer" class="">

        <!-- container -->
        <div class="container">



            <!-- row -->
            <div id="bottom-footer " class="row">

                <!-- social -->
                <div class="col-md-12 ">
                    <ul class="footer-social ">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>


                        <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>

                    </ul>
                </div>
                <!-- /social -->
                <!-- copyright -->
                <div class="col-md-12  text-center">
                    <div class="footer-copyright text-center">
                        <span>&copy; Copyright 2018. All Rights Reserved. </span>
                    </div>
                </div>
                <!-- /copyright -->

            </div>
            <!-- row -->

        </div>
        <!-- /container -->

    </footer>
    <!-- /Footer -->
    <!-- preloader -->
    <div id='preloader'><div class='preloader'></div></div>
    <!-- /preloader -->

    <script src="~/Content/Instructor/Js/jquery.min.js"></script>
    <script src="~/Content/Instructor/Js/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
