<!DOCTYPE html>

<html>
<head>
    
    <title>@ViewBag.Title</title>
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
        <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
        <link href="~/Content/square/blue.css" rel="stylesheet" />
    
</head>
<body class="hold-transition register-page">
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
